cell {
  display: block;
  border: 1px solid black;
  flex-grow: 1;
  height: 100px;
  width: 100px;

  .clickable {
    background-color: #eee;
    cursor: pointer;
    height: 100%;
  }

  .non-clickable {
    text-align: center;
    font-size: 30px;
    line-height: 3;
    font-weight: bold;
    height: 100%;
  }
}