gameplay {
  display: block;
  text-align: center;

  .grid-wrap {
    position: relative;
    //border: 1px solid red;
    width: 300px;
    margin: 0 auto;
  }

  .grid {
    .grid-row {
      display: flex;
    }
  }

  .current-turn {
    margin-top: 30px;
  }

  .buttons {
    margin-top: 20px;
  }

}