tic-tac-toe {
  display: block;

  .grid-wrap {
    position: relative;
    //border: 1px solid red;
    width: 300px;
    margin: 0 auto;
  }

  .grid {
    .grid-row {
      display: flex;
    }
  }

}